//
// Sidebar
// ------------------------------

.sidebar {
  bottom: 0;
  z-index: 1000;

  display: none;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: @brand-primary;

  &.sidebar-open {
    position: absolute;
    top: -60px;
    left: -54px;

    display: block;
  }

  @media (max-width: 765px) {
    span,
    .nav-category {
      display: none;
    }
  }

  .fa {
    min-width: 20px;

    text-align: center;
  }

  @media (min-width: 768px) {
    position: fixed;
    top: 51px;
    left: 0;

    display: block;
    padding: 20px;

    .fa {
      margin-right: 5px;
    }

    .nav-category {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 10px;
      padding-bottom: 5px;

      color: #BEBEBE;

      border-bottom: 1px solid rgb(190, 190, 190);
      border-bottom: 1px solid rgba(190, 190, 190, 0.3);
    }
  }
}

.nav > li {
  > a:focus,
  > a:hover {
    color: #FFFFFF;
    background-color: transparent;
  }
}

.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px;
  margin-bottom: 20px;

  > li > a {
    padding-left: 20px;
    padding-right: 20px;
  }

  > .active {
    > a,
    > a:focus,
    > a:hover {
      color: #FFFFFF;
      background-color: transparent;
    }
  }
}
