<template name="sidebar">
  <nav class="col-sm-3 col-md-2 sidebar" id="sidebar">
    <ul class="nav nav-sidebar">
      <li class="nav-category">Overview</li>
      <li>
        <a href="/calendar">
          <i class="fa fa-calendar"></i>
          <span>Calendar</span>
        </a>
      </li>
      <li>
        <a href="/">
          <i class="fa fa-tachometer"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/mailbox">
          <i class="fa fa-inbox"></i>
          <span>Mailbox</span>
        </a>
      </li>

      <!-- Layouts -->
      <li class="nav-category">Layouts</li>

      <li>
        <a href="/forms">
          <i class="fa fa-pencil-square-o"></i>
          <span>Forms</span>
        </a>
      </li>

      <li>
        <a href="/graphs">
          <i class="fa fa-line-chart"></i>
          <span>Graphs</span>
        </a>
      </li>

      <li>
        <a href="/tables">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>

      <li>
        <a href="/other-layouts">
          <i class="fa fa-crop"></i>
          <span>Other</span>
        </a>
      </li>

      <!-- Elements -->
      <li class="nav-category">Elements</li>

      <li>
        <a href="/alerts">
          <i class="fa fa-warning"></i>
          <span>Alerts</span>
        </a>
      </li>

      <li>
        <a href="/grid">
          <i class="fa fa-laptop"></i>
          <span>Grid</span>
        </a>
      </li>

      <li>
        <a href="/icons">
          <i class="fa fa-rocket"></i>
          <span>Icons</span>
        </a>
      </li>

      <li>
        <a href="/typography">
          <i class="fa fa-font"></i>
          <span>Typography</span>
        </a>
      </li>

      <li>
        <a href="/other-elements">
          <i class="fa fa-desktop"></i>
          <span>Other</span>
        </a>
      </li>

      <!-- Pages -->
      <li class="nav-category">Pages</li>
      <li>
        <a href="/404">
          <i class="fa fa-close"></i>
          <span>404</span>
        </a>
      </li>

      <li>
        <a href="/500">
          <i class="fa fa-exclamation"></i>
          <span>500</span>
        </a>
      </li>

      <li>
        <a href="/login">
          <i class="fa fa-lock"></i>
          <span>Login</span>
        </a>
      </li>
    </ul>
  </nav>
</template>
